<!DOCTYPE html>
<html>
    <head>

        <meta name="google-site-verification" content="y4Ps2e7xQ4zgk_T3L3HxSvSLMGSjAly6Kr0Pkbg7_2E" />
        <title>Patient Profile</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap-theme.min.css" >
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="http://code.highcharts.com/modules/exporting.js"></script>
        <script type="text/javascript" src="ejs_production.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <script type="text/javascript">
        google.charts.load('current', {'packages':['table']});
        google.charts.setOnLoadCallback(drawTable);

        function drawTable() {
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Username');
          data.addColumn('string', 'Role');
          data.addColumn('string', 'Exercise per day');
          data.addColumn('string', 'Exercise per week');
          data.addColumn('string', 'Exercise per month');
          data.addColumn('string', 'Recommended time');
          data.addColumn('string', 'Medicine name');
          data.addColumn('string', 'Dosage');
          data.addColumn('boolean', 'Completed');
          data.addRows([
            ['Mike', 'Patient',  '2',  '2',  '15', '7AM','medicine 1', '400 ml',true],
            ['Mike', 'Patient',  '3',  '7',  '30','9AM','medicine 1', '400 ml',false],
            ['Mike', 'Patient','1',  '7', '23', '11AM','medicine 1', '400 ml',true],
            ['Mike', 'Patient', '2', '2', '2', '5PM','medicine 1', '400 ml',false]
        ]);

        var table = new google.visualization.Table(document.getElementById('table_div'));
        table.draw(data, {showRowNumber: true, width: '70%', height: '100%', title: 'Your therapy'});
      }

    </script>

         <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
        integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
        crossorigin=""></script>

        <style>
            #map{
              height:500px;
              width:50%;
            }
          </style>
    </head>
    
    <body>
        
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">PD eHealth</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
         <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
               <% if(user) { %>
                <a class="btn btn-outline-light my-2 my-sm-0" type="submit" href="/auth/logout">Logout</a>
                <% } else { %>   
                <a class="btn btn-outline-light my-2 my-sm-0" type="submit" href="/auth/login">Login</a>
                <% } %>
    </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
            
            <div class="row">
              <div class="col">
                <div class="alert alert-success" role="alert">
                  <center>You are now logged in !</center>
                </div>
              </div>
            </div>

              <!-- PROFILE -->
              <div class="row">           
              <div class="col-sm-3" align="left">
                <img src="/avatar.jpg" alt="avatar" class="rounded-circle" width="100%" height="100%" />
              </div>
              <div class="col-sm-9" align="center">
                <table class="table table-striped">
                <tbody>
                  <tr>
                    <td>User Name :</td>

                    <td><%= user.firstname %> <%= user.lastname %>
                        <input type="hidden" id="patientId" value="<%= user.username %>">
                    </td>
                  </tr>
                   <tr>
                    <td>Role :</td>
                    <td><%= user.role %></td>
                  </tr>
                   <tr>
                    <td>Email:</td>
                    <td><%= user.email %></td>
                  </tr>
                  <tr>
                    <td>Organization:</td>
                    <td><%= user.organisation %></td>
                  </tr>
                </tbody>
                </table>
              </div>
            </div>
            </div>
          
          <h3 class="display-5"><center>Patient's Profile</center></h3>
        </div>
      </div>
       <div class="container"><center>
        <h5 class="display-5"><center>Patient's therapy</center></h5>
        </div>
      </div>

      <!-- THERAPY TABLE -->
      <center><div id="table_div"></div></center>
      <hr>
      </center></div>
      <hr>

      <!-- COMMENT -->  
      <center><h5> Comments </h5></center>
      <center>
         <% for(var i=0;i<user.comments.length;i++){ %>
             <div class="row">
                <div class="col-md-12">
                        <%= user.comments[i].body %>
                    </div>
             </div>
            <% } %>
            </center>
      <form>
        <div class="form-group">
        <center><label for="inputdefault">Add your comment here:</label></center>
        <input class="form-control" id="comment" type="text">
        </div>
        <center><button id="addComment" class="btn btn-primary">Submit</button></center>
      </form>
        <hr>
      </div>  
      <hr>

      <!-- LOCALISATION -->
      <center><h5>Patient's localisation</h5></center>
      <center><div id="map"></div></center>

       <script>
          var map = L.map('map').setView([59.334591, 18.063240], 5);
          var marker = L.marker([56.879, 14.8059]).addTo(map);
          

          L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
          attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
          maxZoom: 18,
          id: 'mapbox.streets',
          accessToken: 'pk.eyJ1IjoibGluYTkyIiwiYSI6ImNqbnU4cXFucjB5eTEzd2w4eWU1NXcxNmwifQ.4q46THCEclG6RBSVx8wsuA'
          }).addTo(map);

        </script>
        <hr>

        <!-- HEARBEAT CHART -->
     <   <div class="col-sm-12">
          <h3><center>Patient's heartbeat chart</center></h3>
            <div id="container"></div>
         </div>

      <script>
          $(function () {
        $(document).ready(function() {  
            var heartrateUrl='/activity/heartratedata/';
            $('#addComment').bind('click',function(){
                var comment = $('#comment').val();
                var patientId =$('#patientId').val();
              $.ajax({
      method: "POST",
      url: "/patient-profile/addComment",
      data: { comment: comment, patientId: patientId  }
    })
      .done(function( msg ) {
        $('#comment').val('');
      });
            });
            $( ".selectuser" ).click(function(item){
               heartrateUrl='/activity/heartratedata/'+ $(item.target).text();
            });
            Highcharts.setOptions({
                global: {
                    useUTC: false
                }
            });
        
            var chart;
            $('#container').highcharts({
                chart: {
                    type: 'line',
                    animation: Highcharts.svg, // don't animate in old IE
                    marginRight: 10,
                    events: {
                        load: function() {
        
                            // set up the updating of the chart each second
                            var series = this.series[0];
                            setInterval(function() {
                                  $.get(heartrateUrl).
                         then(result=>{
                             console.log(result);
                             let data = result.map(i=>{
                                let out ={ x:parseInt(i.timestamp),
                                 y:parseInt(i.value)
                                };
                                
                             return out;
                             })
                        
                            for(var i=0;i<data.length;i++){
                                series.addPoint([data[i].x,data[i].y], true, true);
                                }
                         }).catch(err=>{console.log(err)});
                            }, 2000);
                        }
                    }
                },
                title: {
                    text: 'Heart Rate'
                },
                xAxis: {
                   title: {
                        text: 'Time'
                    },
                    type: 'datetime',
                    tickPixelInterval: 150
                },
                yAxis: {
                    title: {
                        text: 'Number of Beats'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    formatter: function() {
                            return '<b>'+ this.series.name +'</b><br/>'+
                            Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) +'<br/>'+
                            Highcharts.numberFormat(this.y, 2);
                    }
                },
                legend: {
                    enabled: false
                },
                exporting: {
                    enabled: false
                },
                series: [{
                    name: 'Heart rate per second',
                     data: (function() {
                         $.get('/activity/heartratedata').
                         then(result=>{
                             console.log(result);
                             let data = result.map(i=>{
                                let out ={ x:i.timestamp,
                                 y:i.value
                                };
                                return out;
                             })
                            return data;
                            
                         }).catch(err=>{console.log(err)});
               
                        // generate an array of random data
                         var data = [],
                            time = (new Date()).getTime(),
                            i;
        
                        for (i = -19; i <= 0; i++) {
                            data.push({
                                x: time + i * 1000,
                                y: Math.random()
                            });
                        }
                        console.log(data);
                        return data;
                    })()
                }]
            });
        });
        
    });
      </script>

      <footer class="container">
      <p>&copy; Computer Science Department - Linnaeus University. Lina Abu Hijleh & Rasha Al-Ogaili 2018-2019.</p>
    </footer> 
    </body>
</html>
